*{
    border: none;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.main{
    display: flex;
    justify-content: space-around;
    align-self: flex-start;
    width: 100%;
}
#divTimer{
    display: flex;
    flex-direction: column;
    width: 250px;
}
#timer{
    background-color: #000;
    color: #0f0;
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    padding: 10px 20px;
    justify-content: center;
    width: inherit;
    border-radius: 5px;
    border: 5px solid #888;
}
#botoes{
    display: flex;
    justify-content: space-around;
}
.btn{
    cursor: pointer;
    background-color: #ccc;
    width: 100%;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    border: 3px solid #000;
}
.btn_p{
    cursor: pointer;
    background-color: #ccc;
    width: 50%;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 60px;
    border: 3px solid #000;
}
.btn:hover{
    border: 3px solid #f00;
}
.btn_p:hover{
    border: 3px solid #f00;
}
.div_Parcial{
    background-color: #000;
    color: #0f0;
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    padding: 10px 20px;
    justify-content: center;
    width: 250px;
    border-radius: 5px;
    border: 5px solid #888;   
}
h1{
    margin-bottom: 10px;
}